Repository 1Yanik3/Stash: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-frontend, build-worker, build-gatekeeper, build-symlinker

build-frontend:
  stage: build
  image:
    name: gcr.io/kaniko-project/executor:v1.14.0-debug
    entrypoint:
    - ''
  before_script:
  - cp schema.prisma _frontend/
  script:
  ...

build-worker:
  stage: build
  image:
    name: gcr.io/kaniko-project/executor:v1.14.0-debug
    entrypoint:
    - ''
  before_script:
  - cp schema.prisma _worker/
  script:
  ...

build-gatekeeper:
  stage: build
  image:
    name: gcr.io/kaniko-project/executor:v1.14.0-debug
    entrypoint:
    - ''
  script:
  ...

build-symlinker:
  stage: build
  image:
    name: gcr.io/kaniko-project/executor:v1.14.0-debug
    entrypoint:
    - ''
  script:
  ...

fix(frontend): merge view couldn't merge witout groupedIntoNamesId present
  _frontend/src/routes/+server.ts
  _frontend/src/routes/settings/clusters/+page.svelte
  _frontend/src/routes/settings/clusters/AddNewClusterPopup.svelte
  _frontend/src/routes/settings/duplicates/[content_hash]/+page.svelte
  _frontend/src/routes/settings/duplicates/[content_hash]/merge/+server.ts
  _frontend/src/routes/settings/jobs/+page.svelte
  _frontend/src/routes/signin/+page.svelte
  _frontend/static/manifest.json
  _frontend/vite.config.js
Due: build-frontend

fix(frontend): merge view couldn't merge witout specialFilterAttribute present
  _frontend/src/routes/settings/duplicates/[content_hash]/merge/+server.ts
Due: build-frontend

fix(frontend): merge view fix grouped into names
  _frontend/src/routes/settings/duplicates/[content_hash]/merge/+server.ts
Due: build-frontend

fix(frontend): fix merge view
  _frontend/src/routes/settings/duplicates/[content_hash]/merge/+server.ts
Due: build-frontend

fix(frontend): fix merge view
  _frontend/src/routes/settings/duplicates/[content_hash]/+page.svelte
  _frontend/src/routes/settings/duplicates/[content_hash]/merge/+server.ts
Due: build-frontend

fix(frontend): reload merge view
  _frontend/src/routes/settings/duplicates/[content_hash]/+page.svelte
Due: build-frontend

feat(frontend): migrate reading view to a page based view
  _frontend/src/components/ImageGrid/ImageGrid.svelte
  _frontend/src/components/ImageGrid/ImageGrid_Stories.svelte
  _frontend/src/lib/client/QuickSwitchHelpers/filters.svelte.ts
  _frontend/src/lib/client/Stories/Pages/ChapterPageController.svelte
  _frontend/src/lib/vars.svelte.ts
  _frontend/src/routes/[cluster]/+layout.server.ts
  _frontend/src/routes/[cluster]/Sidebar.svelte
Due: build-frontend

feat(frontend): make reading view test justified
  _frontend/src/components/ImageGrid/ImageGrid_Stories.svelte
  _frontend/src/lib/client/Stories/Pages/ChapterPageController.svelte
Due: build-frontend

feat(frontend): add ability to import stories
  _frontend/pnpm-lock.yaml
  _frontend/src/components/ImageGrid/GridThumbnail.svelte
  _frontend/src/components/ImageGrid/ImageGrid_Stories.svelte
  _frontend/src/components/MediaViewer/MediaViewerVideo.svelte
  _frontend/src/components/Popups/CreateStoryPopup.svelte
  _frontend/src/lib/client/Stories/Pages/ChapterPageController.svelte
  _frontend/src/lib/server/routes/_index.ts
  _frontend/src/lib/server/routes/gks.ts
  _frontend/src/lib/server/routes/stories.ts
  _frontend/src/routes/[cluster]/+page.server.ts
  _frontend/src/routes/[cluster]/Sidebar.svelte
  _frontend/src/routes/settings/duplicates/[content_hash]/+page.svelte
Due: build-frontend

feat(frontend): improve mobile layout
  _frontend/package.json
  _frontend/pnpm-lock.yaml
  _frontend/src/components/ImageGrid/ImageGrid_Studios.svelte
  _frontend/src/components/MediaViewer/MediaViewer.svelte
  _frontend/src/components/MediaViewer/MediaViewerVideo.svelte
  _frontend/src/components/Mobile/MediaViewerMobile.svelte
  _frontend/src/components/MobileBottomBar.svelte
  _frontend/src/components/Popups/ActionBars/Cast.svelte
  _frontend/src/components/Popups/QuickSwitch.svelte
  _frontend/src/components/Popups/QuickSwitcher/FuzzyPopupTemplate.svelte
  _frontend/src/components/Tags/TagInputField.svelte
  _frontend/src/components/elements/Toggle.svelte
  _frontend/src/lib/context.ts
  _frontend/src/lib/stores.svelte.ts
  _frontend/src/reusables/Popup.svelte
  _frontend/src/routes/Controller.svelte
  _frontend/src/routes/[cluster]/+layout.server.ts
  _frontend/src/routes/[cluster]/+layout.svelte
  _frontend/src/routes/[cluster]/+page.svelte
  _frontend/src/routes/[cluster]/Sidebar.svelte
  _frontend/src/routes/[cluster]/SidebarTagsSection.svelte
  _frontend/src/routes/settings/+layout.svelte
  _frontend/src/routes/settings/general/+page.svelte
Due: build-frontend

chore(frontend): update dependencies
  _frontend/package.json
  _frontend/pnpm-lock.yaml
  _frontend/src/routes/+layout.svelte
  _frontend/vite.config.js
Due: build-frontend

fix(frontend): select popup in react client can now be clicked in sidebar
  _frontend/src/components/ImageGrid/GridThumbnail.svelte
  _frontend/src/components/elements/Select.svelte
  _frontend/src/lib/actions/imageRetry.svelte.ts
Due: build-frontend

feat(frontend): add masonary view
  _frontend/src/components/ImageGrid/ImageGrid_Table_Row.svelte
  _frontend/src/components/Popups/views/MasonaryView.svelte
  _frontend/src/lib/client/QuickSwitchHelpers/filters.svelte.ts
  _frontend/src/reusables/Popup.svelte
  _frontend/src/routes/Controller.svelte
Due: build-frontend

feat(frontend): tweak masonary view to be larger
  _frontend/src/components/Popups/views/MasonaryView.svelte
Due: build-frontend

feat(frontend): add bulk subject editor mode
  _frontend/src/components/ImageGrid/GridThumbnail.svelte
  _frontend/src/components/MediaViewer/Toolbar.svelte
  _frontend/src/lib/client/QuickSwitchHelpers/filters.svelte.ts
  _frontend/src/lib/constants.ts
  _frontend/src/lib/vars.svelte.ts
Due: build-frontend

feat(frontend): allow job retry
  _frontend/src/lib/server/routes/_index.ts
  _frontend/src/lib/server/routes/jobs.ts
  _frontend/src/routes/settings/jobs/+page.svelte
Due: build-frontend

chore: remove .env file 😡
  .env
Due: none

feat(frontend): add media deletion ability
  .env
  _frontend/package.json
  _frontend/pnpm-lock.yaml
  _frontend/src/components/MediaViewer/Toolbar.svelte
  _frontend/src/components/elements/Button.svelte
  _frontend/src/lib/server/routes/media-query.ts
  _frontend/src/lib/server/routes/media.ts
  schema.prisma
Due: build-frontend, build-worker, build-gatekeeper

feat(frontend): add queries overview
  _frontend/package.json
  _frontend/pnpm-lock.yaml
  _frontend/src/lib/server/prisma.ts
  _frontend/src/lib/server/redis.ts
  _frontend/src/routes/settings/+layout.svelte
  _frontend/src/routes/settings/jobs/+page.svelte
  _frontend/src/routes/settings/queries/+page.server.ts
  _frontend/src/routes/settings/queries/+page.svelte
Due: build-frontend

add selectedMediaIds return function
  _frontend/src/routes/Controller.svelte
Due: build-frontend

feat(frontend): add basic endpoint auth blocking
  _frontend/src/components/elements/Button.svelte
  _frontend/src/hooks.client.ts
  _frontend/src/hooks.server.ts
  _frontend/src/lib/server/prisma.ts
  _frontend/src/lib/server/protect-endpoint.ts
  _frontend/src/lib/server/routes/_index.ts
  _frontend/src/lib/server/routes/credentials.ts
  _frontend/src/lib/server/routes/media-query.ts
  _frontend/src/lib/server/routes/tags.ts
  _frontend/src/routes/api/rpc/+server.ts
  _frontend/src/routes/settings/credentials/+layout.server.ts
  _frontend/src/routes/settings/credentials/+layout.svelte
  _frontend/src/routes/settings/credentials/+page.svelte
  _frontend/src/routes/settings/credentials/new/+page.svelte
Due: build-frontend

fix(frontend): settings page navigation button is now on the right and the header can drag
  _frontend/pnpm-lock.yaml
  _frontend/src/components/MediaViewer/Toolbar.svelte
  _frontend/src/components/elements/Button.svelte
  _frontend/src/lib/server/prisma.ts
  _frontend/src/lib/server/protect-endpoint.ts
  _frontend/src/lib/server/routes/_index.ts
  _frontend/src/lib/vars.svelte.ts
  _frontend/src/routes/Controller.svelte
  _frontend/src/routes/settings/+layout.svelte
  _frontend/src/routes/settings/credentials/+layout.svelte
  _frontend/src/routes/settings/jobs/+page.svelte
Due: build-frontend

feat(frontend): add bulk scheduling functionality
  .env
  _frontend/src/routes/settings/+layout.svelte
  _frontend/src/routes/settings/scheduled-jobs/+page.server.ts
  _frontend/src/routes/settings/scheduled-jobs/+page.svelte
  _worker/jobs/media/attemptManualTagging.ts
  schema.prisma
Due: build-frontend, build-worker, build-gatekeeper

chore(worker): log more debug information
  _frontend/src/routes/settings/jobs/+page.server.ts
  _frontend/src/routes/settings/jobs/+page.svelte
  _frontend/src/routes/settings/scheduled-jobs/+page.server.ts
  _frontend/src/routes/settings/scheduled-jobs/+page.svelte
  _worker/index.ts
Due: build-frontend, build-worker

fix: use correct model
  .env
  _frontend/src/routes/settings/jobs/+page.svelte
  _frontend/src/routes/settings/tags/+page.server.ts
  _worker/index.ts
  _worker/jobs/media/attemptManualTagging.ts
Due: build-frontend, build-worker

fix(remove): .env file
  .env
  _worker/jobs/media/attemptManualTagging.ts
Due: build-worker

fix: add .env file to gitignore
  .gitignore
Due: none

chore(worker): make visual model adjustable by env variable
  _worker/jobs/media/attemptManualTagging.ts
Due: build-worker

chore(worker): add even more debugging
  _worker/index.ts
  _worker/jobs/media/attemptManualTagging.ts
Due: build-worker

chore(worker): tweak prompt
  _worker/jobs/media/attemptManualTagging.ts
Due: build-worker

feat(frontend): add fast tagging system to media details popup
  _frontend/src/components/ImageGrid/GridThumbnail.svelte
  _frontend/src/components/MediaViewer/Toolbar.svelte
  _frontend/src/components/MobileBottomBar.svelte
  _frontend/src/components/Popups/MediaDetailsPopup.svelte
  _frontend/src/components/Tags/SpecialFilterAttributeDropdown.svelte
  _frontend/src/components/Tags/TagChip.svelte
  _frontend/src/components/Tags/TagInputField.svelte
  _frontend/src/components/elements/Select.svelte
  _frontend/src/lib/client/QuickSwitchHelpers/filters.svelte.ts
  _frontend/src/lib/client/actions/mediaActions.svelte.ts
  _frontend/src/lib/client/call.ts
  _frontend/src/lib/server/protect-endpoint.ts
  _frontend/src/lib/server/routes/media.ts
  _frontend/src/routes/api/media/[media]/rename/+server.ts
  _frontend/src/routes/api/rpc/+server.ts
Due: build-frontend

feat: add gks import
  _frontend/package.json
  _frontend/pnpm-lock.yaml
  _frontend/src/components/MobileBottomBar.svelte
  _frontend/src/components/Popups/CreateStoryPopup.svelte
  _frontend/src/lib/server/routes/gks.ts
Due: build-frontend

feat(frontend): rework mobile bottom bar
  _frontend/pnpm-lock.yaml
  _frontend/src/components/ImageGrid/GridThumbnail.svelte
  _frontend/src/components/MediaViewer/Toolbar.svelte
  _frontend/src/components/MobileBottomBar.svelte
  _frontend/src/components/Popups/MediaDetailsPopup.svelte
  _frontend/src/components/Tags/SpecialFilterAttributeDropdown.svelte
  _frontend/src/components/Tags/TagChip.svelte
  _frontend/src/components/Tags/TagInputField.svelte
  _frontend/src/components/elements/Button.svelte
  _frontend/src/components/elements/Select.svelte
  _frontend/src/lib/server/routes/gks.ts
  _frontend/src/lib/server/routes/media.ts
  _frontend/src/routes/settings/+layout.svelte
  _frontend/src/styles/app.scss
Due: build-frontend

fix(frontend): allow mobile nav dragging in empty space
  _frontend/src/components/MobileBottomBar.svelte
Due: build-frontend

feat(frontend): add more colour to the frontend
  _frontend/src/components/MobileBottomBar.svelte
  _frontend/src/components/elements/Button.svelte
  _frontend/src/components/elements/Select.svelte
  _frontend/src/lib/stores.svelte.ts
  _frontend/src/reusables/Tooltip.svelte
  _frontend/src/reusables/tooltip.ts
  _frontend/src/routes/settings/general/+page.svelte
  _frontend/src/styles/app.scss
Due: build-frontend

feat(gatekeeper): allow unauthed access to manifest
  _gatekeeper/main.go
Due: build-gatekeeper

fix: slight mobile layout fixes
  _frontend/src/components/ImageGrid/GridThumbnail.svelte
  _frontend/src/components/MobileBottomBar.svelte
  _frontend/src/routes/[cluster]/Sidebar.svelte
Due: build-frontend

fix: tmp disable thumbnail removal on replacement
  _frontend/src/routes/api/media/[media]/replace/+server.ts
Due: build-frontend

Path conditions:
  build-frontend: any of: _frontend/**/*, schema.prisma
  build-worker: any of: _worker/**/*, schema.prisma
  build-gatekeeper: any of: _gatekeeper/**/*, schema.prisma
  build-symlinker: any of: _symlinker/**/*
