Repository 1Yanik3/Stash: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-frontend, build-worker, build-gatekeeper, build-symlinker

.gitlab-ci.yml:

stages:
  - build
  - deploy

build-frontend:
  stage: build
  image:
    name: gcr.io/kaniko-project/executor:v1.14.0-debug
    entrypoint: [""]
  before_script:
    - cp schema.prisma _frontend/
  script:
    - |
      if [[ "$CI_COMMIT_BRANCH" == "$CI_DEFAULT_BRANCH" ]]; then
        tag="latest"
        echo "Running on default branch '$CI_DEFAULT_BRANCH': tag = 'latest'"
      else
        tag="$CI_COMMIT_REF_SLUG"
        echo "Running on branch '$CI_COMMIT_BRANCH': tag = $tag"
      fi
    - /kaniko/executor
      --context "${CI_PROJECT_DIR}/_frontend"
      --dockerfile "${CI_PROJECT_DIR}/_frontend/Dockerfile"
      --destination "cr.hera.lan/stash:${tag}"
      --skip-tls-verify-registry "cr.hera.lan"
      --cache=true
      --cache-run-layers
      --cache-copy-layers
  only:
    changes:
      - _frontend/**/*
      - schema.prisma


build-worker:
  stage: build
  image:
    name: gcr.io/kaniko-project/executor:v1.14.0-debug
    entrypoint: [""]
  before_script:
    - cp schema.prisma _worker/
  script:
    - |
      if [[ "$CI_COMMIT_BRANCH" == "$CI_DEFAULT_BRANCH" ]]; then
        tag="latest"
        echo "Running on default branch '$CI_DEFAULT_BRANCH': tag = 'latest'"
      else
        tag="$CI_COMMIT_REF_SLUG"
        echo "Running on branch '$CI_COMMIT_BRANCH': tag = $tag"
      fi
    - /kaniko/executor
      --context "${CI_PROJECT_DIR}/_worker"
      --dockerfile "${CI_PROJECT_DIR}/_worker/Dockerfile"
      --destination "cr.hera.lan/stash-worker:${tag}"
      --skip-tls-verify-registry "cr.hera.lan"
      --cache=true
      --cache-run-layers
      --cache-copy-layers
  only:
    changes:
      - _worker/**/*
      - schema.prisma

build-gatekeeper:
  stage: build
  image:
    name: gcr.io/kaniko-project/executor:v1.14.0-debug
    entrypoint: [""]
  script:
    - |
      if [[ "$CI_COMMIT_BRANCH" == "$CI_DEFAULT_BRANCH" ]]; then
        tag="latest"
        echo "Running on default branch '$CI_DEFAULT_BRANCH': tag = 'latest'"
      else
        tag="$CI_COMMIT_REF_SLUG"
        echo "Running on branch '$CI_COMMIT_BRANCH': tag = $tag"
      fi
    - /kaniko/executor
      --context "${CI_PROJECT_DIR}/_gatekeeper"
      --dockerfile "${CI_PROJECT_DIR}/_gatekeeper/Dockerfile"
      --destination "cr.hera.lan/stash-gatekeeper:${tag}"
      --skip-tls-verify-registry "cr.hera.lan"
      --cache=true
      --cache-run-layers
      --cache-copy-layers
  only:
    changes:
      - _gatekeeper/**/*
      - schema.prisma

build-symlinker:
  stage: build
  image:
    name: gcr.io/kaniko-project/executor:v1.14.0-debug
    entrypoint: [""]
  script:
    - |
      if [[ "$CI_COMMIT_BRANCH" == "$CI_DEFAULT_BRANCH" ]]; then
        tag="latest"
        echo "Running on default branch '$CI_DEFAULT_BRANCH': tag = 'latest'"
      else
        tag="$CI_COMMIT_REF_SLUG"
        echo "Running on branch '$CI_COMMIT_BRANCH': tag = $tag"
      fi
    - /kaniko/executor
      --context "${CI_PROJECT_DIR}/_symlinker"
      --dockerfile "${CI_PROJECT_DIR}/_symlinker/Dockerfile"
      --destination "cr.hera.lan/stash-symlinker:${tag}"
      --skip-tls-verify-registry "cr.hera.lan"
      --cache=true
      --cache-run-layers
      --cache-copy-layers
  only:
    changes:
      - _symlinker/**/*

deploy:
  stage: deploy
  image: busybox:latest
  script:
    - wget --post-data="" $HOOK_URL > /dev/null 2>&1

feat(symlinker): add Dockerfile
  _symlinker/Dockerfile
Due: build-symlinker

deps(symlinker): bump golang in Dockerfile
  _symlinker/Dockerfile
Due: build-symlinker

feat: remove symlinker
  .gitlab-ci.yml
  _symlinker/Dockerfile
  _symlinker/go.mod
  _symlinker/go.sum
  _symlinker/main.go
  _symlinker/test.txt
Due: build-symlinker

Revert "feat: remove symlinker"
  .gitlab-ci.yml
  _symlinker/Dockerfile
  _symlinker/go.mod
  _symlinker/go.sum
  _symlinker/main.go
  _symlinker/test.txt
Due: build-symlinker

feat(symlinker): ignore images and add .mp4 ending
  _symlinker/main.go
Due: build-symlinker

fix(symlinker): only delete the files inside, not the actual folder
  _symlinker/main.go
Due: build-symlinker

fix(symlinker): consider video prefix instead
  _symlinker/main.go
Due: build-symlinker

fix(symlinker): wrong location for the file ending
  _symlinker/main.go
Due: build-symlinker

feat(frontend): start adding new quick switcher ui
  _frontend/package.json
  _frontend/pnpm-lock.yaml
  _frontend/src/components/ImageGrid/ImageGrid.svelte
  _frontend/src/components/MobileBottomBar.svelte
  _frontend/src/components/Popups/QuickSwitch.svelte
  _frontend/src/components/Popups/QuickSwitcher/QuickActions.svelte
  _frontend/src/components/Popups/QuickSwitcher/QuickSwitch.svelte
  _frontend/src/reusables/Popup.svelte
  _frontend/src/routes/Controller.svelte
Due: build-frontend

fix(frontend): make sidebar draggable
  _frontend/src/routes/[cluster]/Sidebar.svelte
Due: build-frontend

feat(frontend): re-add import quick action
  _frontend/src/components/ImageGrid/ImageGrid_Collection.svelte
  _frontend/src/components/Popups/ActionBars/AutoScroll.svelte
  _frontend/src/components/Popups/QuickSwitch.svelte
  _frontend/src/lib/stores.ts
  _frontend/src/routes/Controller.svelte
  _frontend/src/routes/[cluster]/Sidebar.svelte
  _frontend/src/routes/api/cluster/[cluster]/index/+server.ts
Due: build-frontend

feat(frontend): migrate additional filters from the filter bar to the quick switcher
  _frontend/src/components/Popups/QuickSwitch.svelte
  _frontend/src/lib/controllers/MediaController.svelte.ts
  _frontend/src/lib/server/routes/media.ts
  _frontend/src/routes/[cluster]/FilterBar.svelte
Due: build-frontend

feat(frontend): finish migrating FilterBar to QuickSwitch
  _frontend/src/components/Popups/QuickSwitch.svelte
  _frontend/src/routes/Controller.svelte
  _frontend/src/routes/[cluster]/+page.svelte
  _frontend/src/routes/[cluster]/FilterBar.svelte
  _frontend/src/routes/[cluster]/Sidebar.svelte
Due: build-frontend

refactor(frontend): apply formatting
  _frontend/pnpm-lock.yaml
  _frontend/src/components/Button.svelte
  _frontend/src/components/ImageGrid/ImageGrid_Studios_Thumbnail.svelte
  _frontend/src/components/Key.svelte
  _frontend/src/components/MediaViewer/MediaViewerVideo.svelte
  _frontend/src/components/MobileBottomBar.svelte
  _frontend/src/components/Popups/ActionBars/Cast.svelte
  _frontend/src/components/Popups/QuickSwitch.svelte
  _frontend/src/components/Select.svelte
  _frontend/src/lib/stores.ts
  _frontend/src/reusables/Popup.svelte
  _frontend/src/routes/Controller.svelte
  _frontend/src/routes/[cluster]/Sidebar.svelte
Due: build-frontend

refactor(frontend): move logic from QuickSwitch to helper ts files
  _frontend/src/components/Popups/QuickSwitch.svelte
  _frontend/src/lib/client/QuickSwitchHelpers/filters.svelte.ts
  _frontend/src/lib/client/QuickSwitchHelpers/search.svelte.ts
Due: build-frontend

fix(frontend): make fcast use dynamic ws address
  _frontend/src/lib/client/fcast.svelte.ts
Due: build-frontend

fix(frontend): upgrade dependencies and fix multiple previously broken features
  _frontend/package.json
  _frontend/pnpm-lock.yaml
  _frontend/src/components/Button.svelte
  _frontend/src/components/DropFile.svelte
  _frontend/src/components/ImageGrid/GridThumbnail.svelte
  _frontend/src/components/ImageGrid/ImageGrid.svelte
  _frontend/src/components/ImageGrid/ImageGrid_Table.svelte
  _frontend/src/components/MediaViewer/MediaViewer.svelte
  _frontend/src/lib/controllers/TagsController.svelte.ts
  _frontend/src/lib/stores.ts
  _frontend/src/routes/Controller.svelte
  _frontend/src/routes/[cluster]/SidebarHierarchyEntry.svelte
Due: build-frontend

perf(frontend): load thumbs for tag navigation on hover
  _frontend/src/app.html
  _frontend/src/components/Button.svelte
  _frontend/src/components/DropFile.svelte
  _frontend/src/components/ImageGrid/ImageGrid.svelte
  _frontend/src/components/ImageGrid/ImageGrid_Collection.svelte
  _frontend/src/components/MediaViewer/MediaViewer.svelte
  _frontend/src/components/MediaViewer/MediaViewerVideo.svelte
  _frontend/src/components/Popups/QuickSwitcher/QuickActions_Import.svelte
  _frontend/src/lib/client/QuickSwitchHelpers/filters.svelte.ts
  _frontend/src/lib/controllers/MediaController.svelte.ts
  _frontend/src/routes/Controller.svelte
  _frontend/src/routes/[cluster]/SidebarHierarchyEntry.svelte
Due: build-frontend

perf(frontend): prefetch all thumbnails on the page too
  _frontend/src/components/ImageGrid/GridThumbnail.svelte
  _frontend/src/routes/Controller.svelte
  _frontend/src/routes/[cluster]/+page.svelte
  _frontend/src/routes/api/ai/prompt/+server.ts
Due: build-frontend

perf(frontend): preload instead of prefetch
  _frontend/src/components/ImageGrid/GridThumbnail.svelte
  _frontend/src/components/MediaViewer/MediaViewer.svelte
  _frontend/src/routes/Controller.svelte
Due: build-frontend

feat(worker): add priority for thumbnail and metadata
  _frontend/src/routes/api/cluster/[cluster]/import/+server.ts
  _frontend/src/routes/api/cluster/[cluster]/media/+server.ts
  _frontend/src/routes/api/media/[media]/thumbnail/+server.ts
  _frontend/src/routes/api/media/[media]/thumbnail/reset/+server.ts
  _frontend/src/routes/settings/orphaned/[filename]/+server.ts
  _worker/index.ts
  schema.prisma
Due: build-frontend, build-worker, build-gatekeeper

fix(frontend): navigation error prevented the media from updating when switching clusters
  _frontend/src/lib/controllers/MediaController.svelte.ts
  _frontend/src/routes/Controller.svelte
Due: build-frontend

feat(frontend): add beta version of seek video functionality
  _frontend/src/components/MediaViewer/MediaViewer.svelte
  _frontend/src/components/MediaViewer/MediaViewerImage.svelte
  _frontend/src/components/MediaViewer/MediaViewerVideo.svelte
  _frontend/src/lib/stores.ts
  _frontend/src/routes/settings/general/+page.svelte
Due: build-frontend

feat(frontend): allow pausing with click even when seek is enabled
  _frontend/src/components/ImageGrid/GridThumbnail.svelte
  _frontend/src/components/MediaViewer/MediaViewerVideo.svelte
Due: build-frontend

refactor: improve tag controller (semi WIP)
  _frontend/src/components/DropFile.svelte
  _frontend/src/components/ImageGrid/ImageGrid.svelte
  _frontend/src/components/ImageGrid/ImageGrid_Collection.svelte
  _frontend/src/components/MobileBottomBar.svelte
  _frontend/src/components/Tags/TagChip.svelte
  _frontend/src/components/Tags/TagInputField.svelte
  _frontend/src/lib/client/QuickSwitchHelpers/filters.svelte.ts
  _frontend/src/lib/controllers/MediaController.svelte.ts
  _frontend/src/lib/controllers/TagsController.svelte.ts
  _frontend/src/lib/server/routes/media.ts
  _frontend/src/lib/stores.ts
  _frontend/src/lib/vars.svelte.ts
  _frontend/src/routes/Controller.svelte
  _frontend/src/routes/[cluster]/Sidebar.svelte
  _frontend/src/routes/[cluster]/SidebarHierarchyEntry.svelte
  _frontend/src/routes/[cluster]/SidebarTagsSection.svelte
  _frontend/src/routes/settings/tags/+page.server.ts
  _frontend/src/routes/settings/tags/+page.svelte
Due: build-frontend

feat: add sentry
  _frontend/.gitignore
  _frontend/package.json
  _frontend/pnpm-lock.yaml
  _frontend/src/hooks.client.ts
  _frontend/src/hooks.server.ts
  _frontend/vite.config.js
Due: build-frontend

feat: add sentry for prisma
  _frontend/Dockerfile
  _frontend/src/hooks.server.ts
  schema.prisma
Due: build-frontend, build-worker, build-gatekeeper

fix(schema.prisma): add linux-musl as target
  schema.prisma
Due: build-frontend, build-worker, build-gatekeeper

fix(Dockerfile): include openssl
  _frontend/Dockerfile
Due: build-frontend

fix(Dockerfile): change version
  _frontend/Dockerfile
Due: build-frontend

feat(frontend): add basic tag management screen
  _frontend/pnpm-lock.yaml
  _frontend/src/components/Button.svelte
  _frontend/src/components/DropFile.svelte
  _frontend/src/components/Icon.svelte
  _frontend/src/components/ImageGrid/ImageGrid_Collection.svelte
  _frontend/src/components/Popups/Prompts/IconPromptPopup.svelte
  _frontend/src/hooks.client.ts
  _frontend/src/hooks.server.ts
  _frontend/src/lib/controllers/MediaController.svelte.ts
  _frontend/src/lib/controllers/PromptController.ts
  _frontend/src/lib/controllers/TagsController.svelte.ts
  _frontend/src/lib/helpers/assembleTagHierarchyMap.ts
  _frontend/src/lib/server/routes/tags.ts
  _frontend/src/lib/vars.svelte.ts
  _frontend/src/routes/[cluster]/SidebarHierarchyEntry.svelte
  _frontend/src/routes/settings/tags/+page.server.ts
  _frontend/src/routes/settings/tags/+page.svelte
  _frontend/vite.config.js
Due: build-frontend

fix(frontend): improve intersection observer and increase page responsivity
  _frontend/src/components/ImageGrid/GridThumbnail.svelte
  _frontend/src/components/ImageGrid/ImageGrid_Page.svelte
  _frontend/src/components/ImageGrid/ImageGrid_Stories.svelte
  _frontend/src/components/ImageGrid/ImageGrid_Studios_Thumbnail.svelte
  _frontend/src/components/MediaViewer/MediaViewerImage.svelte
  _frontend/src/components/MediaViewer/MediaViewerVideo.svelte
  _frontend/src/components/Popups/Prompts/TextPromptPopup.svelte
  _frontend/src/lib/client/QuickSwitchHelpers/filters.svelte.ts
  _frontend/src/reusables/IntersectionObserver.svelte
Due: build-frontend

fix: update media when cluster changes
  _frontend/src/lib/controllers/MediaController.svelte.ts
Due: build-frontend

feat(frontend): readd ability to bulk add and remove tags from media
  _frontend/src/components/ImageGrid/GridThumbnail.svelte
  _frontend/src/components/ImageGrid/ImageGrid_Studios_Thumbnail.svelte
  _frontend/src/components/MediaViewer/Toolbar.svelte
  _frontend/src/components/Popups/QuickSwitch.svelte
  _frontend/src/lib/client/QuickSwitchHelpers/filters.svelte.ts
  _frontend/src/lib/client/call.ts
  _frontend/src/lib/controllers/MediaController.svelte.ts
  _frontend/src/lib/controllers/PromptController.ts
  _frontend/src/lib/server/routes/_index.ts
  _frontend/src/lib/server/routes/media-query.ts
  _frontend/src/lib/server/routes/media.ts
  _frontend/src/lib/stores.ts
  _frontend/src/routes/Controller.svelte
Due: build-frontend

fix(frontend): scroll selected tag into view when only one selected tag is selected
  _frontend/src/routes/[cluster]/SidebarHierarchyEntry.svelte
Due: build-frontend

fix(frontend): small videos will now also take up the whole screen
  _frontend/src/components/MediaViewer/MediaViewerVideo.svelte
  _frontend/src/routes/api/media/[media]/replace/+server.ts
Due: build-frontend
